@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  font-family: Poppins;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}

.middle-page {
  width: 100vw;
  height: 100vh !important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-content h1 {
  font-weight: 600;
  font-size: 26px;
  color: #254d86;
}

.box {
  display: flex;
  align-items: center;

  width: 300px;
  height: 44px;
  margin-top: 32px;
  padding: 0 45px 0 15px;

  background-color: white;
  border: 1.5px solid #c0bcc173;
  box-sizing: border-box;
  border-radius: 18px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.068);
}

.box:focus-within {
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.072);
}

.box.set {
  width: 280px;
  height: 40px;
  border-radius: 16px;
}

input {
  width: 100%;
  padding-left: 5px;

  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;

  background: none;
  border: none;
}

input:focus {
  outline: none;
}

.click-action:active {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
  transform: scale(0.9);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .center-content h1 {
    font-size: 34px;
  }

  .box {
    width: 380px;
    height: 49px;
    border-radius: 20px;
    border-width: 1.5px;
  }

  .box.set {
    width: 360px;
    height: 42px;
    border-radius: 18px;
    margin-top: 36px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .center-content h1 {
    font-size: 40px;
  }

  .box {
    width: 500px;
    height: 54px;
    border-radius: 22px;
    border-width: 2px;
  }

  .box.set {
    width: 420px;
    height: 48px;
    border-radius: 20px;
  }

  input {
    font-size: 18px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .center-content h1 {
    font-size: 36px;
  }

  .box {
    width: 410px;
    height: 48px;
    border-radius: 20px;
  }

  .box.set {
    width: 360px;
    height: 42px;
    border-radius: 18px;
    margin-top: 28px;
  }

  input {
    font-size: 15px;
  }
}
